.header {
  background-color: #fff;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 34px;
    padding-bottom: 30px;

    @include max(1023) {
      padding-top: 16px;
      padding-bottom: 16px;
    }
  }
}

//begin #LOGO

.header__logo {
  display: block;
  flex: none;
  width: 320px;

  @include max(1023) {
    width: 156px;
  }
  img {
    display: block;
    width: 100%;
  }
}

//end #LOGO

.header__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 20px;
}

//begin #SOCIAL
.header-social {
  display: flex;
  padding-top: 5px;

  @include max(1023) {
    display: none;
  }
}

.header-social__link {
  display: block;
  flex: none;
  width: 16px;
  height: 16px;
  margin-right: 16px;
  &:hover {
    svg {
      fill: $link;
    }
  }
  svg {
    fill: $text;
    width: 16px;
    height: 16px;
    transition: .5s;
  }
}

//end #SOCIAL

//begin #PHONE
.header-phone {
  display: flex;
  align-items: baseline;
  margin-left: 35px;

  @include max(1023) {
    display: none;
  }
}

.header-phone__text {
  font-size: 16px;
  font-weight: 300;
  line-height: 1;
  color: $text;
}

.header-phone__link {
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
  margin-left: 6px;
  text-decoration: none;
  color: $link;
}

//end #PHONE

//begin #APPOINTMENT
.header__appointment {
  margin-left: 47px;

  @include max(1023) {
    display: none;
  }
}

//end #APPOINTMENT

//begin #MENU
.header-menu {
  padding-top: 20px;

  @include max(1023) {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .5s;
    transform: translateY(-100%);
    background-color: #fff;
    &.active {
      transform: translateY(0);
    }
  }
}

.header-menu__list {
  display: flex;
  margin: 0;
  padding: 0;

  @include max(1023) {
    flex-direction: column;
    justify-content: center;
  }
}

.header-menu__item {
  padding: 14px 24px;
  list-style: none;

  @include max(1023) {
    padding: 16px 30px;
  }
  &.active {
    pointer-events: none;
    background-color: rgba(77, 124, 167, .08);
    .header-menu__link {
      color: $link;
    }
  }
}

.header-menu__link {
  font-size: 24px;
  font-weight: 500;
  position: relative;
  display: block;
  transition: color .5s;
  text-decoration: none;
  color: #363b41;

  @include max(1023) {
    font-size: 32px;
    font-weight: 500;
  }

  &:hover {
    color: $link;
  }
}

//end #MENU

//begin #BURGER
.header__burger {
  position: absolute;
  z-index: 20;
  top: 34px;
  right: 30px;
  display: none;
  width: 24px;
  height: 17px;

  @include max(1023) {
    display: block;
  }
  @include max(767) {
    right: 16px;
  }
  &.fixed {
    position: fixed;
  }
}

//end #BURGER
