//begin footer
footer.footer
  .container
    .footer__copyright SemereyMarketing © 2020<span>. All rights reserved.</span>
    .footer__link-wrap
      a(href="#").footer__link Terms of Use
      a(href="#").footer__link Privacy Policy
//end footer