//begin index-map
.index-map
  #map
  .container
    //begin index-map__banner
    .index-map__banner.index-map-banner
      a(href="#").index-map-banner__logo
        img(src="assets/img/logo.svg" alt="Glen Burnie Dental Group")
      a(href="https://goo.gl/maps/NYgWzHH2CeUCXSJXA" target="_blank" rel="nofollow noopener noreferrer").index-map-banner__contacts
        .index-map-banner__icon.index-map-banner__icon--adress
          +svg('marker')
        .index-map-banner__text 5 Crain Hwy. North 21061 Glen Burnie, MD
      a(href="mailto:info@glenburniedentalgroup.com").index-map-banner__contacts
        .index-map-banner__icon.index-map-banner__icon--email
          +svg('email')
        .index-map-banner__text info@glenburniedentalgroup.com
    //end index-map__banner
//end index-map