//begin index-write-us
.index-write-us
  .container
    .index-write-us__left
    .index-write-us__right
      h2.title Write Us
      form.index-write-us__form
        input(type='text' placeholder='Name').index-write-us__input
        input(type='email' placeholder='Email').index-write-us__input
        textarea(placeholder='Message').index-write-us__textarea
        input(type='submit' value='Send Message').btn.index-write-us__btn
//end index-write-us