//begin index-banner
.index-banner
  .container
    h2.index-banner__title Make Appointment for Your Smile!
    .index-banner__phone
      span.index-banner__phone-text Call Us
      a(href="tel:4109699300").index-banner__phone-link 410 969 9300
    button.btn.index-banner__btn Make Appointment
//end index-banner