//begin index-text
.index-text
  .container
    h2.title About Us
    p At our Clinic we provide personalized service, using the latest tecniques and equipment. Our doctors are first-class dentists and the best medical/dentistry school graduates whose goal is to make you helthier and happier. With great care and devotion we aim to give you beautiful smiles! At Glen Burnie Dental Group, we have experienced dental professionals offering the highest quality of dental care to meet your oral health needs.
    p.hidden-less-767 We understand that visiting the dentist can be stressful for some patients. This is why we provide a personalized service, keeping your ease and comfort in mind. Our facility and procedures have been designed to accommodate the needs of all our patients, allowing us to deliver exceptional dental services.The team of doctors at Glen Burnie Dental Group consists of exceptional dentists who focus on developing lasting relationships with patients, helping promote their dental health for life. They are the leading dental school graduates who are focused on offering the highest quality of dental care while making you feel comfortable and welcome.
//end index-text