//begin index-review
.index-review
  .container
    .index-review__header
      h2.title Our Clients Say
    .index-review__body
      .index-review__video
        img(src="assets/img/index-review-video.jpg" alt="picture")
        button.btn-video.index-review__video-btn

      .index-review__description
        h3.index-review__name Craig Hargrove
        p I found this place one year ago!! An I have to say that the people in this office is amazing!! They took care of me when I first did my exam explaining what choices I have to make an it was amazing.. Dr Nader is the best that’s it he’s amazing thank u so much for helping me!! My ladies that held me down in the back with all the advice an instruction I love u both Christina an Diana thank you for everything!!! All you guys are Amazing!!!
        .index-review__stars
          +svg('star')
          +svg('star')
          +svg('star')
          +svg('star')
          +svg('star')
//end index-review