//begin index-all-team
.index-all-team
  .container
    h2.index-all-team__title Only Highly Qualified Dentists
    a(href="#").index-all-team__link
      span.index-all-team__link-text All Team
      +svg('arr-right')
//end index-all-team