//begin index-text
.index-text
  .container
    h2.title The best in modern dentistry
    p The experienced dentists and staff at Glen Burnie Dental Group have been offering high-quality dental services to patients for many years. We want to put all your dental concerns to rest as we are thorough dental professionals with training for all general dental needs. Our commitment towards offering high-quality dental care is unparalleled and we make it a point to ensure all our patients are comfortable with their dental procedure.
    p.hidden-less-767 We are convenient dental clinic located in Glen Burnie, MD, where we are proud to offer a wide range of dental services including: Treatment of Caries, Gum disease, Teeth Whitening, Dental Implants, Dentures, Crowns, Oral Surgery, Invisalign and more. Our dental professionals will help you solve any dental problem with patience and compassion.
//end index-text