*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.38;
  color: $text;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 0 0 10px 0;
}

p {
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 25px 0;
  strong {
    font-weight: 500;
  }
}

a {
  transition: color .5s;
  color: $link;
  &:hover {
    text-decoration: none;
  }
}

ol,
ul {
  li {
    padding: 0;
  }
}

input,
textarea,
select,
button {
  border-radius: 0 !important;
  outline: none;
}

input {
  padding: 3px 10px 5px 10px;
  color: $text;
  border: 1px solid $text;
  &::placeholder {
    @include placeholder-color($text);
  }
}

textarea {
  resize: none;
}

svg {
  display: block;
  overflow: visible;
}

.main-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  -webkit-overflow-scrolling: touch;
}

.main {
  flex-grow: 1;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1124px;
  margin: 0 auto;
  padding: 0 30px;

  @include max(767) {
    padding: 0 16px;
  }
}

.hidden-less-767 {
  @include max(767) {
    display: none;
  }
}

.title {
  font-size: 64px;

  @include max(1023) {
    font-size: 52px;
  }
  @include max(767) {
    font-size: 44px;
  }
  @include max(480) {
    font-size: 32px;
  }
}

.btn {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 48px;
  padding: 5px 24px;
  white-space: nowrap;
  text-decoration: none;
  color: #fff;
  border: none;
  background-color: $highlight;
  box-shadow: none;
}

.btn-video {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  margin: auto;
  cursor: pointer;
  transition: opacity .5s;
  opacity: .55;
  border: none;
  border-radius: 50% !important;
  background-color: transparent;
  background-image: url('../img/index-video-btn.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  box-shadow: none;
  &:hover {
    opacity: 1;
  }
}
