extends ../_template

block variables
  - var title           = 'About Us | Glen Burnie Dental Group'
  - var description     = 'About Us | Glen Burnie Dental Group'
  - var ogtitle         = 'About Us | Glen Burnie Dental Group'
  - var ogimage         = 'assets/img/social.jpg'
  - var pageHeader      = 'About Us'

block content
  .main-wrap
    include ../sections/header
    include ../sections/page-header

    //begin content
    main.main

      //include ../sections/index-video
      //include ../sections/index-text-01
      //include ../sections/index-services
      //include ../sections/index-text-02
      //include ../sections/index-banner
      //include ../sections/index-review
      //include ../sections/index-all-team
      //include ../sections/index-write-us
      //include ../sections/index-map
    //end content

    include ../sections/footer
    include ../sections/scripts