extends ../_template

block variables
  - var title       = 'Glen Burnie Dental Group'
  - var description = 'Glen Burnie Dental Group'
  - var ogtitle     = 'Glen Burnie Dental Group'
  - var ogimage     = 'assets/img/social.jpg'

block content

  //begin content
  main.main
    include ../sections/header
    include ../sections/footer
    include ../sections/scripts
  //end content

